body{
  background: linear-gradient(217deg, rgba(193,200,228,.8), rgba(193,200,228,0) 70.71%),
        linear-gradient(127deg, rgba(90,185,234,.8), rgba(90,185,234,0) 70.71%),
        linear-gradient(336deg, rgba(136,96,208,.8), rgba(136,96,208,0) 70.71%);
    font-family: 'Chivo', sans-serif;
    color: #5680E9;
}

#logo-load{
    font-family: 'Chivo', sans-serif;
    font-size: 50px;
    color: #5680E9;
    margin-top: 250px;
    margin-bottom:250px;
}

img {
    height: 80px;
}
.fa-parking{
    animation: rotation 3s;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}