#panel{
        transition: box-shadow .25s;
        padding: 20px;
        margin: 5rem 0 1rem 0;
        border-radius: 2px;
        background-color: #fff;
}

.checkbox-style{
    opacity: 0!important;
}

#logo-login{
    font-family: 'Chivo', sans-serif;
    font-size: 50px;
    color:  #49a09d;
    margin-top: 25px;
    margin-bottom:25px;
}