body{
  background: linear-gradient(217deg, rgba(193,200,228,.8), rgba(193,200,228,0) 70.71%),
        linear-gradient(127deg, rgba(90,185,234,.8), rgba(90,185,234,0) 70.71%),
        linear-gradient(336deg, rgba(136,96,208,.8), rgba(136,96,208,0) 70.71%);
    font-family: 'Chivo', sans-serif;
    color: #5680E9;
    height: 100vh;
}

img {
  width: 100%;
}

h4 {

}

/* Chip */
.chip {
  height: 50px !important;
  width: 50px !important;
  background-color: #ABBCE6 !important;
  border-radius: 50% !important;
  padding: 9.5px 2px 2px 1px !important;
}

i.small {
  color: #5680E9;
}


/* Cards */

 
 .icon-block {
  background: #F1F9FF;
  padding: 8px;
 }
 
 i.medium {
  color: #5680E9;
  font-size: 3rem !important;
 }
 .card .card-content {
  background-color: #F1F9FF;
 }
 
 
 .valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
 }

 .hero-header {
  text-align: center;
 }
 