body{
    background: linear-gradient(217deg, rgba(193,200,228,.8), rgba(193,200,228,0) 70.71%),
          linear-gradient(127deg, rgba(90,185,234,.8), rgba(90,185,234,0) 70.71%),
          linear-gradient(336deg, rgba(136,96,208,.8), rgba(136,96,208,0) 70.71%);
      font-family: 'Chivo', sans-serif;
      color: #5680E9;
 }

#panel{
        transition: box-shadow .25s;
        padding: 20px;
        margin: 5rem 0 1rem 0;
        border-radius: 2px;
        background-color: #fff;
}

#logo{
    font-family: 'Chivo', sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 250px;
    margin-bottom:250px;
}

nav {
    background-image: radial-gradient(#5f2c82, #49a09d);
    height: 10vh;
    font-family: 'Chivo', sans-serif;
    color: #49a09d;
}